.strip {
  position: relative;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;

  background: #1ab394;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.main {
  background-color: #ffffff;
}

.pageHeading_reporting {
  height: 68.7px;
  margin-top: 10px;
  border-radius: 0rem;
  background: #f3f3f3;
}

.reporting-rates-card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
}

.reporting-rates-card-separator {
  margin-top: 10px;
  margin-left: 0px;
  width: 38.64px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}

.reporting-rates-card-year {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: right;
  color: #000000;
  margin-top: 5px;
}

.reporting-rates-card-overview {
  margin-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.card-uploads-consistency-rates {
  border-radius: 0rem;
}

.expected-uploads-header {
  background-color: #e5e5e5;
  text-align: center;
}

.expected-uploads-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 59px;
  align-items: center;
  text-align: center;

  color: #000000;
}

.overall-rates-figure {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 59px;
  align-items: center;
  text-align: center;

  color: #000000;
}
.overall-rates-sup {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 29px;
  text-align: center;

  color: #00ad30;
}
.overall-rates-sup-perc {
  font-size: 19px;
}
.overall-rates-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 139.4%;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.consistency-reporting-figure {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 59px;
  align-items: center;
  text-align: center;

  color: #000000;
}
.consistency-reporting-sup {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 29px;
  text-align: center;

  color: #00ad30;
}
.consistency-reporting-sup-perc {
  font-size: 19px;
}
.consistency-reporting-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 139.4%;
  /* or 17px */

  text-align: center;

  color: #000000;
}
.trends-card {
  border-radius: 0rem;
}
.trends-header {
  background-color: #e5e5e5;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  text-transform: uppercase;
}
.trends-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 139.4%;
  /* or 17px */

  color: #4f4e4e;
}
.trends-body {
  background-color: #f9f9f9;
  padding: 0;
}
.reporting-rates-overview-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 139.4%;
  /* identical to box height, or 17px */

  color: #000000;
}
.reporting-rates-overview-copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  /* or 11px */

  text-align: right !important;

  color: #000000;
}

.hmis_statistics_separator {
  position: relative;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;

  background: #485969;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.active_art {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.active_art_number {
  color: #1AB394;
  font-size: larger;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
}
.active_art_gender {
  text-align: justify !important;
}
.stickyUniversalFilter {
  background-color: #ffffff;
  border-bottom: 1px solid #c8ced3;
  padding: 1em;
  padding-top: 5em;
  position: fixed;
  z-index: 1000;
}
.hiddenUniversalFilter {
  display: none;
}
.cardTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.primary-card {
  background: #FFFFFF;
  border: 0.5px solid #D1D8DC;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.primary-card-body-text {
  font-size: 3.8em;
  color: #000000;
}

.primary-card-body-subtitle {
  font-size: 1.4em;
  color: #00AD30;
}

.bigger-subtitle {
  font-size: 2.4em;
}